apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: redhat-ods-applications

resources:
- ../../base
- keycloak.yaml

# Generate ConfigMap from the extracted config.yaml
# This ConfigMap will be mounted by the LlamaStackDistribution
# Note: config.yaml is created by setup.sh during the setup process
# disableNameSuffixHash prevents kustomize from adding a hash to the name
configMapGenerator:
- name: llamastack-config
  files:
  - config.yaml
  options:
    disableNameSuffixHash: true

# Use reference-specific LlamaStackDistribution with Keycloak
patches:
- path: llamastackdistribution.yaml
