apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: redhat-ods-applications

resources:
- ../../base

# Use reference-specific LlamaStackDistribution
patches:
- path: llamastackdistribution.yaml
